.statistics {
  background-color: #e7ecf2;
  padding: 20px 0;
}
.title {
  display: flex;
  width: 400px;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px 0;
  background-color: white;
}
.statList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.label {
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.percentage {
  margin: 0 auto;
  font-weight: 800;
  color: white;
  padding-bottom: 10px;
}
